/* for newbar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

/* end navbar styling */
.container{
    position: relative;
    text-align: center;
    color: white;
}

.center{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}

img {
    border-radius: 100%;
}

body{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 47px;
    margin-bottom: 0px;
    margin-top: 15px;   
}

h2{
    margin: 0px;
    padding: 5px;
    font-size: larger;
}

h4{
    margin: inherit;
    padding: 10px;
}