/* for newbar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

/* li{
    float: right;
} */

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

li a:hover{
    /* background-color: #111; */
    filter: drop-shadow(
        10px 10px 20px rgb(29, 29, 29)
    );
    color: yellow;
    
}

ul li a.title{
        float: left;
        font-size: x-large;
        display: contents;
}

ul li a img.title_icon{
    width: 40px;
    padding-left: inherit;
}

/* end navbar styling */

.container{
    /* position: relative;
    text-align: center;
    color: white; */

    position: relative;
    text-align: center;
    margin-top: 11%;
    color: white;
}

.center{
   display: contents;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}

img.image_icon {
    border-radius: 100%;
   }

body{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 47px;
    margin-bottom: 0px;
    margin-top: 15px;   
}

h2{
    margin: 0px;
    padding: 5px;
    font-size: larger;
}

h4{
    margin: inherit;
    padding: 10px;
}

/* for experience */

.experience{
    background-color: white;
    width: 90%;
    margin-left: 4%;
    margin-top: 18px;
    filter: drop-shadow(2px 4px 6px black);
}

.myexperience{
    margin-top: 11%;
    font-size: x-large;
    color: white;
    margin-left: 4%;
    font-weight: normal;
}

.eximage{
    height: 430px;
    width: 600px;
}
